<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="io.futurestud.tutorials.picasso"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.activities.UsageExampleSimpleLoading"
            android:label="Simple Loading"/>

        <activity
            android:name=".ui.activities.UsageExampleListViewAdapter"
            android:label="ListView Example"/>

        <activity
            android:name=".ui.activities.UsageExampleGridViewAdapter"
            android:label="GridView Example"/>

        <activity
            android:name=".ui.activities.UsageExamplePlaceholdersAndErrors"
            android:label="Placeholders"/>

        <activity
            android:name=".ui.activities.UsageExampleImageResizing"
            android:label="Image Manipulation"/>

        <activity
            android:name=".ui.activities.UsageExampleRequestPriority"
            android:label="Request Priority"/>


    </application>

</manifest>
